<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Milli Düşünce Merkezi</title>
<meta name="description" content="Milli Düşünce Merkezi,Milli,Düşünce,Merkezi,Türk,Dünya,Türk Dünyası,Siyasi,Ahmet Bican Ercilasun,Türk Dili Tarihi,Vatan,Bayrak">
<meta name="viewport" content="width=device-width, initial-scale=1">
@*<link rel="manifest" href="site.webmanifest">*@
<link rel="shortcut icon" type="image/x-icon" href="~/Content/img/Milli Düşünce Merkezi.jpg">

<!-- CSS here -->
<link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
<link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">
<link rel="stylesheet" href="~/Content/css/ticker-style.css">
<link rel="stylesheet" href="~/Content/css/slicknav.css">
<link rel="stylesheet" href="~/Content/css/animate.min.css">
<link rel="stylesheet" href="~/Content/css/magnific-popup.css">
<link rel="stylesheet" href="~/Content/css/fontawesome-all.min.css">
<link rel="stylesheet" href="~/Content/css/slick.css">
<link rel="stylesheet" href="~/Content/css/nice-select.css">
<link rel="stylesheet" href="~/Content/css/style.css">
<link href="~/Content/css/flaticon.css" rel="stylesheet" />
<link href="~/Content/css/themify-icons.css" rel="stylesheet" />
@*<script src="~/Scripts/jquery-3.6.0.js"></script>*@
<script src="~/Scripts/js/vendor/jquery.nav.js"></script>
@*<script src="~/Scripts/js/vendor/jquery-1.12.4.min.js"></script>*@


